*{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
html{
  background-color: #FFD580;
}
h1{
  color:white;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
